##Topic 3 - Python Structure & Data Type Assignment

# Data Type Declaration

1. > Create an empty variable (Points : 5)

In [1]:
future=[]
future

[]

2. > Create a variable containing your name (Points : 5)

In [4]:
my_name=["Desi Noviyanti"]
my_name

['Desi Noviyanti']

3. > Create a list of 5 items you can find in the classroom (Points : 5)

In [6]:
classroom=["eraser","whiteboard","pencil","chair","table"]
classroom

['eraser', 'whiteboard', 'pencil', 'chair', 'table']

4. > Create a dictionary containing 2 keys and value (Points : 5)

In [10]:
people={
    "name":["desi","isaac","shofia"],
    "departement":["matematika","ilmu komputer","statistika"]
}

In [11]:
people["name"]

['desi', 'isaac', 'shofia']

In [12]:
people["departement"]

['matematika', 'ilmu komputer', 'statistika']

# Basic Data Operation

You sold 20 pieces of electronics at the price of 12000. The customer gets a total discount of 10%.

Below are those variables:

1.   price=12000
2.   quantity_sold=20
3.   discount=10%


Using Python code, write the code the find the total money that the customer to pay. (Points : 15)

In [48]:
price = 12000
quantity_sold = 20
#calculator
total = price*quantity_sold
discount = total*0.1
final_pay = total-discount
final_pay

216000.0

# List Data Operation

5. > Follow the instructions in the code blocks

In [51]:
# Create list of countries in the world (total 7 countries) (Points : 5)

countries =["indonesia","australia","japan","south korea","switzerland","france","saudi arabia"]

In [52]:
# Get 4 countries from the first index of the list (Points : 5)

countries[0:4]

['indonesia', 'australia', 'japan', 'south korea']

In [55]:
# Append new country to the list (Points : 5)

new_countries="malaysia"
countries.append(new_countries)
countries

['indonesia',
 'australia',
 'japan',
 'south korea',
 'switzerland',
 'france',
 'saudi arabia',
 'malaysia']

In [59]:
# Drop one country from the list (Points : 5)

countries[2]

'japan'

In [58]:
# Get country in the last index (Points : 5)

countries[7:]

['malaysia']

# Dictionary Data Operation

6. >  Follow the instructions below

In [77]:
# Given the dictionary below

customer={
    "name":['Dio','Eka','Wayu','Riki'],
    "age":[20,19,24,39],
    "gender":[1,0,0,1],
    "membership":['Platinum','Gold','Silver','Silver']
}

In [78]:
# Print all keys in customer (Points : 5)

customer.keys()

dict_keys(['name', 'age', 'gender', 'membership'])

In [79]:
# Print all customer names (Points : 5)

customer["name"]

['Dio', 'Eka', 'Wayu', 'Riki']

In [80]:
# Print the first customer name (Points : 5)

customer["name"][0]

'Dio'

In [81]:
# Drop "age" key from the dictionary (Points : 5)

customer["age"]

[20, 19, 24, 39]

In [103]:
# Replace customer gender list value (Points : 20)
# gender 1 => Male
# gender 0 => Female 

gender1 = str(customer["gender"])
gender1

'[1, 0, 0, 1]'

In [106]:
gender1.replace("1","Male").replace("0","Female")

'[Male, Female, Female, Male]'